<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
   <form>
    <div class="signupform">
        <h1>Signup</h1>
        <hr>
        <label><b>Full Name</b></label>
        <input type="text" placeholder="Enter Name" name="name"  required>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="Email" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="Password" required>
        <div class="clearfix">
            <button type="button" class="btn btn-dark" style="  text-transform: capitalize;font-weight: bolder;">Signup</button>
        </div>
    </div>
   </form> 
</body>
</html>